<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(cor, index) in cores" :key="cor">
            {{index + 1}}) {{cor}}
        </li>
    </ul>
    <button @click="cores.push('branca')">Adicionar</button>
    <hr>
    <template v-for="(cor, index) in cores">
        <h1>{{cor}}</h1>
        <p>{{index}}</p>
    </template>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">
            <div v-for="(valor, chave) in pessoa">
                {{chave}}: {{valor}}
            </div>
        </li>
    </ul>
    <hr>
    <div v-for="n in 10">{{ n }}</div>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            cores: ["vermelho", "verde", "amarelo", "azul"],
            pessoas: [
                {nome: "Elise", idade: 20, peso: 59},
                {nome: "Jodie", idade: 17, peso: 50},
                {nome: "Krysten", idade: 23, peso: 58}
            ]
        }
    })
</script>
<style>
    ul {
        list-style: none;
    }
</style>